<<<<<<< HEAD
footer{
    height: 60px; width: 100%;
    background: white;
    border-top: 1px solid #CCCCCC;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center
=======
header {
    background-color: #FFFFFF;
    background-image: url("../images/HBTN_logo.png");
    background-position: left-top;
    background-repeat: no-repeat;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
>>>>>>> d4a430155cd4f359eebc1f3fc01b58901b1b3038
}
