.places {
<<<<<<< HEAD
    text-align: center;
    margin: 0;
}
.places h1 {
    font-size: 30px;
    vertical-align: top;
    text-align: left;
    padding: 25px 0 0 30px;
    margin: 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    display: inline-block;
    position: relative;

}

.places h2 {
=======
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.places h1 {
    height: 30px;
    width: 100%;
    font-size: 30px;
    padding-left: 3%;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
>>>>>>> d4a430155cd4f359eebc1f3fc01b58901b1b3038
    font-size: 30px;
    text-align: center;
}
